@media (max-width : 425px){
    body{
        font-size: 4px;
    }
    section{
        min-height: 425px;
    }
    main{
        min-height: 425px;
    }
    .wrapLine > div{
        min-height: 425px;
    }
    .titleHeadLine{
    }

    header .headerWrap nav a{
        line-height: 5;
    }
    header .headerWrap nav a, header .headerWrap .logo a{
        font-size: 1.4em;
    }

    .wmt{
        margin-top: 15%;
    }

    #contact .contactBottom{
        /* margin: 0 3%; */
    }
    .wmr{
        margin: 0;
    }
    .wml{
        margin: 0;
    }
    #contact .contactBottomInnerWrap{
        width: 100%;
    }

    #main .mainTitleHead .titleBox{
        width: 70%;
    }
    .df_ae{
        align-items: center;
    }
    .wmr{
        margin-right: 0;
    }
    #introduce_1 .introBottom .introBottomLineTop{
        display: none;
    }
    #introduce_1 .introBottom .introBottomLineRight{
        width: 80%;
        margin: 0 auto;
    }
    #contact .contactHead .contactHeadTitle .portFolioLoopDiv{
        transform: rotate(-90deg) translate(-100%, 100%);
    }
    #portFolio_2 .portFolioMiddle .portFolioMiddleWrap .portFolioMiddleDefault > div{
        margin-top: 5%;
        margin-bottom: 0;
    }
    #portFolio_2 .portFolioMiddle .portFolioMiddleWrap .swiperFolio .swiper-wrapper .swiper-slide .portFolioCard{
        width: 80vw;
    }
    #portFolio_1 .portFolioSlideWrap{
        flex-direction: column;
    }
    #portFolio_1 .portFolioSlideWrapLeft{
        width: 100%;
        height: 40%;
        margin-bottom: 10%;
    }
    #portFolio_2 .portFolioMiddle .portFolioMiddleWrap .swiperFolio .swiper-wrapper .swiper-slide .portFolioCard .portFolioCardImg{
        height: 50%;
    }
    #portFolio_2 .portFolioMiddle .portFolioMiddleWrap .swiperFolio .swiper-wrapper .swiper-slide .portFolioCardBody{
        height: 50%;
    }
    #portFolio_2 .portFolioMiddle .portFolioMiddleWrap .swiperFolio .swiper-wrapper .swiper-slide .portFolioCardBody .link a{
        line-height: 4em;
        font-size: 2.4em;
    }
    .portFolioCardBodyHead .card-text{
        font-size: 2.4em;
    }
}

@media (min-width : 425px){
    body{
        font-size: 5px;
    }
    section{
        min-height: 576px;
    }
    main{
        min-height: 576px;
    }
    .wrapLine > div{
        min-height: 576px;
    }
    .titleHeadLine{
    }
    #main .mainTitleHead .titleBox{
        width: 70%;
    }
    #portFolio_2 .portFolioMiddle .portFolioMiddleWrap .swiperFolio .swiper-wrapper .swiper-slide .portFolioCard .portFolioCardImg{
        height: 35%;
    }
    
}

@media (min-width : 768px){
    body{
        font-size: 7px;
    }
    #portFolio_2 .portFolioMiddle .portFolioMiddleWrap .portFolioMiddleDefault > div{
        width: 50vw;
    }
    #contact .contactInfo{
        display: none;
    }
    #contact .contactBottomMailBox{
        display: block;
    }
    #introduce_2 .introBody{
        justify-content: flex-start;
    }
    
}

@media (min-width : 1194px){
    
    body{
        font-size: 8px;
    }

    .wrap{
        width: 100%;
    }
    .headerWrap{
        width: 100%;
    }

    section{
        min-height: 720px;
    }
    main{
        min-height: 720px;
    }
    .wrapLine > div{
        min-height: 720px;
    }
    .titleHeadLine{
    }
    #main .mainTitleHead .titleBox{
        width: 40%;
    }
    #introduce_2 .introHead img{
        margin-top: 8%;
        margin-left: 3%;
    }
}

@media (min-width : 1900px){
    body{
        font-size: 11px;
    }
    #introduce_2 .introHead img{
        margin-top: 7%;
        margin-left: 3%;
    }
}
@media (min-width : 2500px){
    body{
        font-size: 16px;
    }
}
@media (min-width : 3800px){
    body{
        font-size: 24px;
    }
}


